@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average&family=Biryani:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "abc_diatype_semi-monobold";
  src: url("https://cdn.shopify.com/s/files/1/0683/4008/9055/files/abcdiatypesemi-monocondensed-regular-webfont_891b2d9e-a1a4-488d-b514-7dda6de868d3.woff2?v=1711859215")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0683/4008/9055/files/abcdiatypesemi-monocondensed-regular-webfont_f0009024-763d-49b6-98cf-1472cff56e17.woff?v=1711859131")
      format("woff");
}

/*Stoke, Poppins*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stoke:wght@300;400&display=swap");

/*Alegreya, Strocke*/

@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300;400&display=swap");
/* 

  font-family: "Amaranth", sans-serif;
  
  .noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

.stoke-light {
  font-family: "Stoke", serif;
  font-weight: 300;
  font-style: normal;
}

.stoke-regular {
  font-family: "Stoke", serif;
  font-weight: 400;
  font-style: normal;
}

.alegreya {
  font-family: "Alegreya", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Stoke", serif !important;
  font-weight: 400;
  font-style: normal !important;
}

.heading-text {
  font-family: "Stoke", serif !important;
  font-weight: 400;
  font-style: normal;
}

.font-biryani {
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Poppins", sans-serif;
}

.multicolumn-card__info .inline-richtext {
  font-family: "Poppins", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.list-menu li {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.h0 {
  font-size: 9.6rem;
}

.w-100 {
  width: 100%;
}

.h-400 {
  min-height: 350px;
}

.p-0 {
  padding: 0 !important;
}

.ms-100 {
  margin-left: 40px !important;
}

.max-500 {
  max-width: 500px;
}

.max-500--width {
  max-width: 500px;
  margin: auto;
}

@media (max-width: 1150px) {
  .max-500--width {
    max-width: 400px;
    margin: 0 30px;
  }
}

@media (min-width: 990px) {
  h1,
  .h1 {
    font-size: 6.2rem;
  }
}

.fs-18 {
  font-size: 1.8rem;
}

.product-left {
  max-width: 65rem;
  justify-self: end;
  height: auto;
  float: right;
  margin-right: 5rem;
  width: 100%;
}

.product-right {
  max-width: 65rem;
  padding: 80px 20px;
}

.bg-white {
  background-color: #fff;
}

@media (min-width: 750px) {
  .ms-100 {
    margin-left: 100px !important;
  }

  .p-13 {
    padding: 13px;
  }
  .gap-35 {
    --grid-desktop-horizontal-spacing: 35px !important;
  }
}

.page-width-full {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.image-with-text__custom-text {
  background: #dfe3d3;
  height: 86% !important;
  top: 50%;
  transform: translateY(-50%) !important;
}

@media screen and (min-width: 990px) {
  .image-with-text__custom-text .image-with-text__content {
    padding: 4.8rem 5.9rem;
  }
}

.image-with-text__custom-text {
  .rte li {
    list-style: disc;
  }
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.justify-content-center {
  justify-content: center;
}
.footer__content-bottom-wrapper {
  justify-content: space-between;
  align-items: center;
}
/* .image-with-text__custom-text:after {
  background: white;
  height: 80%;
  top: 50%;
  transform: translateY(-50%);
} */

.footer * {
  font-family: "Anybody", sans-serif !important;
}

.footer-block--newsletter {
  flex-wrap: nowrap;
}

.field:hover.field:after {
  box-shadow: none;
}

.newsletter-form__button {
  border: solid 1px #141414;
}

.newsletter-form__field-wrapper .field {
  width: 446px;
}
.d-flex {
  display: flex;
}

.justify-content-right {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}
@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns: 1fr 8fr 1fr;
    text-align: center;
  }
}

.button,
.shopify-challenge__button,
.customer button {
  padding: 0 5rem;
}

.button,
.button--primary,
.button-custom {
  min-width: 212px;
  min-height: 60px;
  font-family: Poppins, sans-serif !important;
  text-transform: uppercase;
  font-weight: 200;
}

.social-icon-adjust {
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 18px 0;
}

.meta-data {
  margin: 0;
  color: #872229;
  list-style: none;
  font-size: 13px;
  padding: 0;
}
.m-0 {
  margin: 0 !important;
}

.max-300 {
  max-width: 300px;
}

.quantity--bg {
  background-color: #dfe3d3;
}

.quantity--bg:after {
  display: none;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.meta-data li {
  color: #872229;
  padding-bottom: 0;
  margin-bottom: 10px;

  display: flex;
}
.meta-data li span:nth-child(2) {
  color: #141414;
}

.meta-data li:last-child {
  border-bottom: 0;
}
.meta-data li span:first-child {
  max-width: 170px;
  width: 100%;
}

.media-fit {
  left: 50% !important;
  height: 100% !important;
  width: auto !important;
  transform: translateX(-50%) !important;
  position: relative !important;
  display: flex;
  justify-content: center;
}
.media-fit img {
  height: 100% !important;
  width: auto !important;
  position: relative !important;
}

.footer-section__image-wrapper img {
  max-width: 200px;
  height: auto;
}

.button-full {
  min-height: 50px;
  width: 100%;
}

.pt--70 {
  padding: 70px 0;
}

/*Age Pop Up */

#age-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

#age-popup-box {
  background: #dfe3d3;
  color: #000;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease-in-out;
}

#age-popup h2 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #333;
}

.age-popup-btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.age-popup-btn:after,
.age-popup-btn:before {
  display: none;
}

#yes-btn {
  background: #872229;
  color: white;
}

#yes-btn:hover {
  background: #141414;
}

#no-btn {
  background: #141414;
  color: white;
}

#no-btn:hover {
  background: #c82333;
}

/* Menu dropdown multiple */

.tmenu_submenu {
  max-width: 1400px;
  width: 100%;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.tmenu_submenu.tmenu_submenu_type_automatic.tmenu_submenu--desktop {
  left: 50% !important;
}

.header__inline-menu
  .tmenu_app
  .tmenu_nav
  .tmenu_item--root
  > .tmenu_item_link {
  padding-left: 24px !important;
  padding-right: 24px !important;
  font-weight: bold !important;
  color: #000 !important;
}
.tmenu_col-2 {
  max-width: 20% !important;
}

.tmenu-watermark *,
.tmenu-watermark a {
  color: #fff !important;
}

.heading-logo {
  margin: auto;
  display: block;
  max-width: 280px;
}

.section-template--18582156673187__multicolumn_cwCinJ-padding {
  max-width: 1640px !important;
  width: 100% !important;
}

/* END Menu dropdown multiple */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.position-relative {
  position: relative;
}
/* .modal__content {
  z-index: 999;
}

.modal__content,
.z-999 {
  z-index: 10;
} */

.search-modal {
  z-index: 9999;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.footer-block {
  width: calc(19% - var(--grid-desktop-horizontal-spacing) * 2 / 3) !important;
}

.footer {
  position: relative;
  padding-top: 22px;
}

.footer::before {
  content: "";
  width: 100%;
  height: 22px;
  background: #82282a;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.py-50 {
  padding: 50px 0;
}

.tmenu_nav li a {
  text-transform: uppercase;
}

.product__title h1 {
  font-family: "Stoke", serif !important;
}

.tmenu_navbar {
  font-family: "Stoke", serif !important;
}

.product__text {
  font-size: 20px;
}

.text-link {
  color: #000;
}
.tags {
  padding: 0;
}
.tags a {
  color: #000;
}
